[info]
title = "NazoNexus"
version = "0.0.1"

[app]
show_error_details = false
enable_docs = false

[site]
copyright = "N/A"

[database]
database = "nazo_nexus"
user = "postgres"
password = "postgres"
host = "localhost"
port = 5432